.weapons, .armor .locations{
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
}

.weapon-list, .weapon-form, .armor-list, .armor-form, .location-list, .location-form{
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
}


.weapon-form label, .armor-form label, .location-form label{
  display: inline-block;
  width: 125px;
  margin-right: 5px;
}

.weapon-form input, .armor-form input, .location-form input{
  width: 150px;
  margin-right: 5px;
}

.errorMessage {
  border-radius: 10px;
  border: red 1px solid;
  margin: 5px;
  padding: 10px;
}

.locationTable, .locationDescription, .armor-list, .weapon-list{
  display: inline-block;
}
