.map-link{
    color: green;
}
.map-optional{
    color:orange;
}
.row{
    margin: 15px;
}
.dropdown{
    margin: 10px;
}
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("/images/background.jpg");

    /* Full height */
    height: 100%;
    opacity: 0.2;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}